torch
torchvision
transformers
numpy
scipy
gymnasium==0.29.1
matplotlib
pandas
seaborn
h5py
einops
huggingface-hub
tqdm
requests
Pillow
filelock
PyYAML
regex
pygame
sentencepiece
typed-argument-parser
pybullet
moviepy
